.body {
    margin:0;
    padding: 0;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#stop,p, .triggers, .cube {
    margin-top: 2px;
    padding: 0;
    text-align: center;
}

.name {
	position: relative;
}

button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 24px;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    /* transition-duration: 0.4s; */
    border: 2px solid #555555;
  }

  button:hover {

    background-color: white; /* Green */
    color: black;
    border: 2px solid #555555;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
  }